body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(0,0,0);
    /*  Tailwind doesn't work well with gradients */

    background: linear-gradient(175deg,
     rgba(0,0,0,1) 0%,
     rgba(10,34,88,1) 72%,
    rgba(30,79,156,1) 100%);  

    color: white;
  }
/*  Tailwind can't do margin: o auto   */
  .App {
    margin: 0 auto
  }

  p{
    font-size: 1.2rem;
  }

  .calendar {
    background: rgb(80, 80, 223);
  }

  .calendar button{
    background-color: white;
    padding: 5px;
  }

  .calendar button:hover{
    background-color: rgb(83, 126, 228);
    color: white;
    transition: 0.3s ease;
  }

